/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.main-nav,
	.row,
	.col  {
		display: flex;
	}


.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1 50%;
		flex-direction: column;

	}

	.row {
		flex-wrap: wrap;
	}

	.secondary {
		order: -1;
	}

	/*This pins the buttons to the bottom of the columns b/c the browser automatically
		insterts the extra space in a column between the button and the flex item above it.*/
	.button {
		margin-top: auto;
		align-self: flex-start; /*Aligns the buttons to the left edge of the columns*/
	}

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between; /*Aligns the name flex item to the left edge of the container, and the main-nav item to right edge.*/
	}

	.col {
		flex-basis: 0; /*Displays the three columns on the same line when the view port or device is 1025px or wider.*/
	}

	.primary {
		flex-grow: 1.4;
	}

}
